<div class="container">
  <h1> User Login </h1>
  <%= form_with url: sessions_path do |form| %>
  
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  
    <div class="actions">
      <%= form.submit "Login" %>
    </div>
  <% end %>
</div>
