<%= render 'layouts/alerts' %>
<div class='container-fluid'>

  <div class='row '>
   <%= render 'articles/feature' %>
  </div>

  <div class='row '>
    <% @categories.reverse_each do |category| %>
      <%= all_categories(category) %>
    <% end %>
  </div>

</div>