<header class="container-fliud">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"> 
        <%= link_to root_path, class: 'navbar-brand' do  %>
        <h1>CamKitchen</h1>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <%= user_sessions%>
            </ul>
        </div>
    </nav>
</header>